<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.php">{% trans %}Home{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="index.php?page=list_zones">{% trans %}Zones{% endtrans %}</a></li>
        <li class="breadcrumb-item" aria-current="page">{% trans %}Add slave zone{% endtrans %}</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <h5>{% trans %}Add slave zone{% endtrans %}</h5>
    </div>
    <div class="card-body">
        <form class="needs-validation col-12 col-xxl-4 col-xl-6" method="post" action="index.php?page=add_zone_slave" novalidate>
            <input type="hidden" name="_token" value="{{ csrf_token }}">
            <div class="mb-3">
                <label class="form-label">{% trans %}Zone name{% endtrans %}</label>
                <input class="form-control form-control-sm" type="text" name="domain" value="" required>
                <div class="invalid-feedback">{% trans %}Provide zone name{% endtrans %}</div>
            </div>
            <div class="mb-3">
                <label class="form-label">{% trans %}IP address of master NS{% endtrans %}</label>
                <input class="form-control form-control-sm" type="text" name="slave_master" value="" required>
                <div class="invalid-feedback">{% trans %}Provide ip address{% endtrans %}</div>
            </div>
            <div class="mb-3">
                <label class="form-label">{% trans %}Owner{% endtrans %}</label>
                <select class="form-select form-select-sm" name="owner">
                    {% for user in users %}
                    {% if user['id'] == session_user_id %}
                    <option value="{{ user['id'] }}" selected>
                        {% if user['fullname'] %}
                        {{ user['fullname'] }}
                        {% else %}
                        {{ user['username'] }}
                        {% endif %}
                    </option>
                    {% elseif perm_view_others %}
                    <option value="{{ user['id'] }}">
                        {% if user['fullname'] %}
                        {{ user['fullname'] }}
                        {% else %}
                        {{ user['username'] }}
                        {% endif %}
                    </option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <button class="btn btn-primary btn-sm" type="submit" name="submit">
                <i class="bi bi-floppy"></i> {% trans %}Add zone{% endtrans %}
            </button>
        </form>
    </div>
</div>