<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.php">{% trans %}Home{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="index.php?page=list_zones">{% trans %}Zones{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="index.php?page=edit&id={{ zone_id }}">
            {% if idn_zone_name %}
            {{ idn_zone_name }}
            {% else %}
            {{ zone_info['name'] }}
            {% endif %}
        </a></li>
        <li class="breadcrumb-item" aria-current="page">{% trans %}Delete Zone{% endtrans %}</li>
    </ol>
</nav>

<div class="card mt-3">
    <div class="card-header">
        {% if idn_zone_name %}
        <h5>{% trans %}Delete zone{% endtrans %} "{{ idn_zone_name }}" ({{ zone_info['name'] }})</h5>
        {% else %}
        <h5>{% trans %}Delete zone{% endtrans %} "{{ zone_info['name'] }}"</h5>
        {% endif %}
    </div>
    <div class="card-body">
        {% trans %}Owner{% endtrans %}: {{ zone_owners }}<br>
        {% trans %}Type{% endtrans %}: {{ zone_info['type'] }}

        {% if slave_master_exists %}
        <p>
            {% trans %}You are about to delete a slave zone of which the master nameserver is a supermaster. Deleting the zone now, will result in temporary removal only. Whenever the supermaster sends a notification for this zone, it will be added again!{% endtrans %}
        </p>
        {% endif %}

        <p>{% trans %}Are you sure?{% endtrans %}</p>
        <a class="btn btn-danger" href="index.php?page=delete_domain&id={{ zone_id }}&confirm=1" data-testid="confirm-delete-zone">
            <i class="bi bi-trash"></i> {% trans %}Yes{% endtrans %}
        </a>
        <a class="btn btn-secondary" href="index.php?page=list_zones" data-testid="cancel-delete-zone">
            <i class="bi bi-arrow-counterclockwise"></i> {% trans %}No{% endtrans %}
        </a>
    </div>
</div>
