<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.php">{% trans %}Home{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="index.php?page=list_zones">{% trans %}Zones{% endtrans %}</a></li>
        <li class="breadcrumb-item">
            {% if idn_zone_name %}
            <a href="index.php?page=edit&id={{ zone_id }}">{{ idn_zone_name }}</a>
            {% else %}
            <a href="index.php?page=edit&id={{ zone_id }}">{{ zone_name }}</a>
            {% endif %}
        </li>
        <li class="breadcrumb-item" aria-current="page">{% trans %}Edit comment{% endtrans %}</li>
    </ol>
</nav>

<div class="card mt-3">
    <div class="card-header">
        {% if idn_zone_name %}
        <h5>{% trans %}Edit comment in zone{% endtrans %} "{{ idn_zone_name }}" ({{ zone_name }})</h5>
        {% else %}
        <h5>{% trans %}Edit comment in zone{% endtrans %} "{{ zone_name }}"</h5>
        {% endif %}
    </div>
    <div class="card-body">
        <form method="post" action="index.php?page=edit_comment&id={{ zone_id }}" class=" col-12 col-xxl-4 col-xl-6">
            <input type="hidden" name="_token" value="{{ csrf_token }}">
            <div class="mb-3">
                <label for="floatingTextarea">{% trans %}Comments{% endtrans %}</label>
                <textarea class="form-control form-control-sm" rows="10" name="comment" id="floatingTextarea" {% if disabled %}disabled{% endif %}>{{ comment }}</textarea>
            </div>
            {% if not disabled %}
            <button type="submit" name="commit" class="btn btn-primary">
                <i class="bi bi-floppy"></i> {% trans %}Update{% endtrans %}
            </button>
            <button type="reset" name="reset" value="" class="btn btn-secondary">
                <i class="bi bi-arrow-counterclockwise"></i> {% trans %}Reset{% endtrans %}
            </button>
            {% endif %}
        </form>
    </div>
</div>