<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.php">{% trans %}Home{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="index.php?page=users">{% trans %}Users{% endtrans %}</a></li>
        <li class="breadcrumb-item" aria-current="page">{% trans %}Edit user{% endtrans %}</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <h5>{% trans %}Edit user{% endtrans %} "{{ name }}"</h5>
    </div>
    <div class="card-body">
        <form class="needs-validation col-12 col-xxl-4 col-xl-6" method="post" action="" novalidate>
            <input type="hidden" name="_token" value="{{ csrf_token }}">
            <input type="hidden" name="number" value="{{ edit_id }}">
            <div class="mb-3">
                <label class="form-label">{% trans %}Username{% endtrans %}</label>
                <input class="form-control" type="text" name="username" value="{{ user['username'] }}" required>
                <div class="invalid-feedback">{% trans %}Provide user name{% endtrans %}</div>
            </div>
            <div class="mb-3">
                <label class="form-label">{% trans %}Fullname{% endtrans %}</label>
                <input class="form-control" type="text" name="fullname" value="{{ user['fullname'] }}" required>
            </div>
            <div class="mb-3">
                <label class="form-label">{% trans %}Password{% endtrans %}</label>
                <div class="input-group">
                    <input class="form-control" type="password" id="password" name="password" {% if (not perm_passwd_edit_others and (edit_own_perm and user['uid'] !=session_user_id) or use_ldap_checked) %}disabled{% endif %}>
                    <button class="btn btn-outline-secondary" type="button" onclick="showPassword('password', 'eye')"><i class="bi bi-eye-fill" id="eye"></i></button>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">{% trans %}Email address{% endtrans %}</label>
                <input class="form-control" type="text" name="email" value="{{ user['email'] }}" required>
                <div class="invalid-feedback">{% trans %}Provide email{% endtrans %}</div>
            </div>
            {% if edit_templ_perm %}
            <div class="mb-3">
                <label class="form-label">{% trans %}Permission template{% endtrans %}</label>
                <select class="form-select" name="perm_templ">
                    {% for template in permission_templates %}
                    {% if template['id'] == user['tpl_id'] %}
                    <option value="{{ template['id'] }}" selected>{{ template['name'] }}</option>
                    {% else %}
                    <option value="{{ template['id'] }}">{{ template['name'] }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            {% endif %}
            <div class="mb-3">
                <label class="form-label">{% trans %}Description{% endtrans %}</label>
                <textarea class="form-control" rows="4" cols="30" name="description">{{ user['descr'] }}</textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">{% trans %}Enabled{% endtrans %}</label>
                <input class="form-check-input" type="checkbox" name="active" value="1" {{ check }}>
            </div>
            {% if ldap_use %}
            <div class="mb-3">
                <label class="form-label">{% trans %}LDAP Authentication{% endtrans %}</label>
                <input class="form-check-input" id="ldap" type="checkbox" name="use_ldap" value="1" onclick="disablePasswordField()" {{ use_ldap_checked }}>
            </div>
            {% endif %}
            <button class="btn btn-primary" type="submit" name="commit">
                <i class="bi bi-floppy"></i> {% trans %}Update{% endtrans %}
            </button>
            <button class="btn btn-secondary" type="reset" name="reset">
                <i class="bi bi-arrow-counterclockwise"></i> {% trans %}Reset{% endtrans %}
            </button>
        </form>

        <div class="pt-3 text-secondary">
            {% trans %}This user has been assigned the permission template{% endtrans %} "{{ user['tpl_name'] }}".<br>
            {% if user['tpl_descr'] != "" %}
            {% trans %}The description for this template is{% endtrans %}: "{{ user['tpl_descr'] }}".<br>
            {% endif %}
            {% trans %}Based on this template, this user has the following permissions{% endtrans %}:
            <ul>
                {% for item in user_permissions %}
                {% set descr = item['descr'] %}
                <li>{{ descr|trans }} ({{ item['name'] }})</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>